<div class="dashboard-container">
  <div *ngIf="alertMessages.length > 0" class="alert-container">
    <mat-card *ngFor="let msg of alertMessages" class="alert-card" color="warn">
      <mat-icon>warning</mat-icon> {{ msg }}
    </mat-card>
  </div>

  <app-filters
    (timeframeChange)="onTimeframeChange($event)"
    (sentimentChange)="onSentimentChange($event)"
    (stockChange)="onStockChange($event)">
  </app-filters>

  <div class="dashboard-toolbar">
    <button mat-raised-button color="primary" (click)="manualRefresh()">Refresh</button>
    <span class="last-updated" *ngIf="lastUpdated">Last updated: {{ lastUpdated | date:'shortTime' }}</span>
  </div>

  <div class="dashboard-content">
    <div class="table-section">
      <app-stock-table [dataSource]="filteredStocks"></app-stock-table>
    </div>
    <div class="graph-section">
      <app-trend-graph [stock]="selectedStock" [timeframe]="selectedTimeframe" [trendData]="trendData"></app-trend-graph>
    </div>
  </div>
</div> 